.work {
    width: 30%;
    margin: 5px;
    float: left;
    background: #ccc;
    position: relative;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding-top: 35px;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .3);
}

.info:hover{
    opacity: 1;
}

p{
    color: white;
}

.container{
    width: 600px;
    margin: 0 auto;
}

.clearboth {
    clear: both;
}